<header>
    <div class="container header-content">
        <div class="logo-container">
            <img [src]="logoPath" alt="Logotipo Portal de Segurança Compartilhada" class="logo"> 
            <h1 class="site-title">Portal de Vigilância Compartilhada</h1>
        </div>
        <div class="header-buttons">
            @if(!profile?.name){
                <button class="btn btn-login" (click)="login()">Login</button>
                <button class="btn btn-register"><a routerLink="/cadastro" routerLinkActive="router-link-active">Cadastrar</a></button>

            }@else {
                <button class="btn btn-logout" (click)="logout()">Logout</button>
                <button class="btn btn-register"><a routerLink="/cadastro" routerLinkActive="router-link-active">Editar</a></button>      
            }
            
            
        </div>
    </div>
</header>

<nav>
    <div class="container">
        <ul>
            <li><a routerLink="/" routerLinkActive="router-link-active">Início</a></li>
            <li><a routerLink="/dicas" routerLinkActive="router-link-active">Alertas</a></li>
            <li><a routerLink="/map" routerLinkActive="router-link-active" >Mapa de Ocorrências</a></li>
            <li><a href="#comunicacao">Fale com Autoridades</a></li>
            <li><a href="#recursos">Recursos</a></li>
        </ul>
    </div>
</nav>
