<div class="hero">
    <h1>Bem-vindo ao Portal de Segurança Pública</h1>
    <p>Sua segurança em um clique. Explore o mapa e fique informado sobre os crimes e unidades policiais em sua região.</p>
    <button >Explorar o Mapa</button>
  </div>
  
  <section class="features-section">
    <article class="feature">
      <h2>Mapa de Crimes</h2>
      <p>Visualize os crimes reportados em sua cidade, além de aplicar filtros para os diferentes meses do ano.</p>
      <a href="#map" class="explore-link">Veja o mapa de crimes</a>
    </article>
  
    <article class="feature">
      <h2>Unidades Policiais</h2>
      <p>Encontre as unidades da Polícia Militar mais próxima de sua localização.</p>
      <a href="#police-units" class="explore-link">Ver Unidades Policiais</a>
    </article>
  
    <article class="feature">
      <h2>Alertas de Segurança</h2>
      <p>Receba alertas em tempo real sobre áreas de risco e operações policiais.</p>
      <a href="#security-alerts" class="explore-link">Ver Alertas</a>
    </article>
  
    <article class="feature">
      <h2>Dicas de Defesa Civil</h2>
      <p>Saiba como se proteger em casos de emergência, como enchentes e deslizamentos.</p>
      <a href="#civil-defense-tips" class="explore-link">Ver Dicas</a>
    </article>
  
    <article class="feature">
      <h2>Dicas de Segurança Pública</h2>
      <p>Aprenda dicas simples e práticas para aumentar sua segurança no dia a dia.</p>
      <a href="#security-tips" class="explore-link">Ver Dicas de Segurança</a>
    </article>
  
    <article class="feature">
      <h2>Links Úteis</h2>
      <p>Acesse sites importantes de órgãos de segurança pública e tenha mais informações ao seu alcance.</p>
      <a href="#useful-links" class="explore-link">Ver Links</a>
    </article>
  </section>
  
